.overlay {
    position: fixed;
    top: calc(50vh - 15vh / 2);
    left: 0;
    width: 100vw;
    height: 15vh;
    background-color: rgba(black, 0.4);
    color: rgb(255, 216, 0);
    font-size: 13vh;
    line-height: 13vh;
    text-align: center;
    font-variant: small-caps;
    user-select: none;
    z-index: 9999;
}