$loading-width: 160px;
$loading-height: 160px;

.loading-gif {
    position: fixed;
    top: calc(50% - #{$loading-height} / 2);
    left: calc(50% - #{$loading-width} / 2);
}

.index-page {
    > .title {
        font-size: 36px;
        font-variant: small-caps;
        font-family: Cambria;
        margin-bottom: 100px;
    }

    > .puzzles {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
}