@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <AuthorizeView>
            <Authorized>
                <div>Welcome, @context.User.Identity.Name!</div>
                <form method="post" action="Identity/Account/SignOut">
                    <button type="submit" class="nav-link btn btn-link">Sign out</button>
                </form>
            </Authorized>
            <NotAuthorized>
                <a href="Identity/Account/Register">Register</a>
                <a href="Identity/Account/Login">Sign in</a>
            </NotAuthorized>
        </AuthorizeView>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>