@page "/"
@inherits CodeBehind.IndexBase

<h1>Welcome to PuzzleBase ^^</h1>

@if (Puzzles == null)
{
    <img class="loading-gif" src="img/loading.gif" alt="Loading..." />
}
else
{
    foreach (var puzzle in Puzzles)
    {
        <PuzzleTile Puzzle="@puzzle" />
    }
}