@page "/"
@inherits CodeBehind.IndexBase

<div class="index-page">
    <div class="title">Welcome to PuzzleBase ^^</div>

    @if (Puzzles == null)
    {
        <img class="loading-gif" src="img/loading.gif" alt="Loading..." />
    }
    else
    {
        foreach (var puzzle in Puzzles)
        {
            <PuzzleTile Puzzle="@puzzle" />
        }
    }
</div>