@inherits PuzzleBase.Components.CodeBehind.PuzzleComponentBase

<div class="puzzle">
    @for (var row = 1; row <= 9; ++row)
    for (var column = 1; column <= 9; ++column)
    {
        <PuzzleBox />
    }
</div>