@inherits PuzzleBase.Components.CodeBehind.PuzzleTileBase

<div class="puzzle-tile">
    <div class="title">Puzzle @Puzzle.ID</div>
    <div class="content">
        <PuzzleDifficulty Difficulty="@Puzzle.Difficulty" />
        <div class="author">Author: @(Puzzle.Author?.Name ?? "N/A")</div>
    </div>
</div>
