@inherits PuzzleBase.Components.CodeBehind.PuzzleTileBase

<a class="puzzle-tile" href="puzzle/@Puzzle.ID">
    <div class="title">Puzzle @Puzzle.ID</div>
    <div class="content">
        <PuzzleDifficulty Difficulty="@Puzzle.Difficulty" />
        <div class="author">Author: @(Puzzle.Author?.Name ?? "N/A")</div>
    </div>
</a>
