@inherits PuzzleBase.Components.CodeBehind.PuzzleComponentBase
@using PuzzleBase.Components.Bitmasks

<table class="puzzle">
    <tbody>
        @for (var row = 1; row <= 9; ++row)
        {
            <tr>
                @for (var column = 1; column <= 9; ++column)
                {
                    int? value = Content.Givens == null
                        ? null
                        : Content.Givens.FirstOrDefault(g => g[0] == row && g[1] == column)?[2];

                    State.Boxes[row - 1, column - 1].Value = value;
                    State.Boxes[row - 1, column - 1].IsGiven = value.HasValue;
                    State.Boxes[row - 1, column - 1].OnValueChanged += Validate;

                    <PuzzleBox Row="row" Column="column" />
                }
            </tr>
        }
    </tbody>
</table>